    .presentation-container{
        background-color: #E3734B;
        width: 100%;
        height: 800px;
    }

    .presentation-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        height: 800px;
        align-items: center;
        
    }

    .presentation-img1 {
        width: 800px;
        margin-top: 50px;
    }

    .presentation-b1 {
        text-align: left;
    }

    .presentation-1 p {
        font-size: 35px;
        color: #ffffff;
        font-weight: 400;
    }

    .presentation-img1 img {
        width: 800px;
        height: 100%;
    }

    .search-content {
        margin-left: 20px;
    }

    .search-container {
        display: flex;
        padding: 20px ;
        background-color: #ffffff;
        border: 2px solid #FFA665;
        border-radius: 50px;
    }

